.container main {
  background-color: whitesmoke;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;

  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
}
.userList {
  grid-column: 1;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gainsboro;
    padding: 0 1em 0 0;
    cursor: pointer;
    & + li {
      border-top: none;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}
.messageWindow {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  justify-content: space-between;
  h3 {
    background-color: gainsboro;
    padding: 1em;
  }
  div.response {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0;
    flex: 3;
  }
  div.input {
    border-radius: 10px;
    border: 1px solid gray;
    flex: 1;
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    textarea {
      padding: 1em;
      flex: 1;
      outline: none;
      background-color: transparent;
      border: none;
    }
    button {
      padding: 1em;
      background-color: coral;
      color: white;
      text-transform: uppercase;
      border: none;
      margin: 1em;
      cursor: pointer;
      &:hover {
        background-color: orangered;
      }
    }
  }
}
